.sb-mod.sb-mod--home {
    background-color: #4092cc;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    #container-website-list {
        width: 600px;
        margin: 80px auto;
    }
}
